body {
	margin:20%;
	padding:0;
	margin-top:10px;
}
html {
  box-sizing: border-box;
}


p {
	margin:0;
	text-align:left;
    background-color: white;
    padding: 10px;
	text-align: center; 	
}

.box {
    float: left;
    background-color: cornflowerblue;
	width:120px;
	margin: 20px;
    border: solid gray 1px;
    border-radius: 10px;
    overflow: hidden;
	
}

.footer {
	float:left;
}

* {
  box-sizing: border-box;
}

.footer p {
		text-align:left;
		width: 99%;
		margin:0;
} 


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .box {
  float: left;
  width: 80%;
}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	/* Tablet Styles */
.box {
  float: left;
  width: 20%;
  margin-bottom: 10px;
  padding: 0;

}
}
	 